%h1 Hello, world!

- if $alias_link.nil?
  = form_for @link, url: { action: "main" } do |f|
    = f.text_field :original_link
    = f.submit "Сократить"

- unless $alias_link.nil?
  alias link:
  = $alias_link

  %br   
  %br
  = link_to "Create a new short link", root_path
