%h1 Hello, world!

- if flash["success"]
  Ваша ссылка:
  = flash[:success]
  %br
  %br
  = link_to "Create a new short link", root_path
- elsif flash["error"]
  = flash[:error]
  %br
  %br
  = render 'links/form_link'
- else
  = render 'links/form_link'